
/* header media query */
@media (max-width:1195px){
   .main-header{
    box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
    background-color: var(--white);
   }
    .main-header-wrapper span {
        display: block;
    }
    #menu{
        display: none;
    }
    .menu-wrapper{    
        position: relative; 
        padding-bottom: 1.5rem;  
    }
    .left-menu {
        padding: 0 0 0 0;
        text-align: center;
        margin-top: 3rem;
        flex-direction: column;
     }
    .left-menu ul li{
        display:block;
        padding:1.2rem 0 0 0;
        
    }
    .right-menu a{
        display:block;
        padding:1rem 0 0 0;
    }
    .site-logo{
        position: absolute;
        left: 0;
    }
    .site-logo{
        padding-top: 0.2rem;
    }
    /* serch menu */
    

    /* hero media query */

    .hero-wrapper {
        flex-direction: column;
        padding-top: 60px;
    }
    .hero-wrapper .left-hero{
        padding: 70px 0 0 100px;
    }
    
    /* develop query */

    .left-develop{
        display: grid;
        grid-template-columns: repeat( auto-fit, minmax(600px, 1fr) );
        grid-gap: 0rem;
        position: relative;
        margin-right: 10rem;
    }
    .right-develop{
        display: grid;
        grid-template-columns: repeat( auto-fit, minmax(600px, 1fr) );
        grid-gap: 0rem;
        position: relative;
        margin-left: 0rem;
    }
     .devlop-text{
        padding: 0 0 0 0rem;
        max-width: 480px;
    }
    
    .right-develop .devlop-text{
        padding: 1rem 0 0 3rem;
    }
    .develop-shapes{
        display: none;
    }
    .cta-wrapper{
        display: block;
        text-align: center; 
    }
    .cta-left-text{
        text-align: center;
    }
    .cta-wrapper .cta-right-text{
        margin-left: 0rem;
        margin-top: 1.5rem;
    }
    .left-develop-shapes{
        display: none;
    }
    .right-develop-shapes{
        display: none;
    }
    .testimonial-shape{
        display: none;
    }
    .hp-testimonial-section{
        margin-bottom: 6rem;
        min-height: 0px;
    }
    
}
@media(max-width:1400px){
    .testimonial-img{
        /* position: relative; */
        display: none;
    }
    .people-shape{
        /* position: relative; */
        display: none;
    }
    .people-bg-shape{
        display: none;
    }
}

@media (max-width:769px){

    /* hero media query */
    .hero-wrapper .left-hero{
        padding: 70px 0 0 100px;
        max-width: 580px;
    }
    .hero-title {
        font-size: 55px;
        font-weight: 700;
        line-height: 65px;
    }
    .hero-btn .btn-5{
        margin: 1rem 0 0 1.5rem;
    }
    .left-develop{
        display: grid;
        grid-template-columns: repeat( auto-fit, minmax(400px, 1fr) );
        grid-gap: 0rem;
        position: relative;
        margin-right: 2rem;
    }
    .right-develop{
        display: grid;
        grid-template-columns: repeat( auto-fit, minmax(400px, 1fr) );
        grid-gap: 0rem;
        position: relative;
        margin-right: 2rem;
    }
    .bottom-footer-wrapper{
        display: grid;
        grid-template-columns: repeat( auto-fit, minmax(200px, 1fr) );
        text-align: center;
    }
    .copyright .block-description{
        font-size: 11px;
        color: var(--primary);
    }
    .slider-arrow {
    display: flex;
    margin-top: 2rem;
    cursor: pointer;
    align-items: center;
    justify-content: center;
    margin-right: 0px;
}
.features-wrapper .features-card:nth-child(2){
    margin-top: 0px;
}
.features-wrapper .features-card:nth-child(3){
    margin-top: 0px;
}
}
@media (max-width:580px){
    .footer-card{
        margin: 0 20px;
    }
}

@media (max-width:426px){

    /* hero media query */
    .hero-wrapper .left-hero{
        padding: 70px 20px 0 20px;
        max-width: 580px;
        text-align: center;
    }
    .hero-title {
        font-size: 44px;
        font-weight: 700;
        line-height: 55px;
    }
   .hero-btn .btn-5{
       margin: 1rem 0 0 -1.5rem;
       text-align: center;
   }
   .left-hero .block-description{
       font-size: 12.5px;
       
   }
   .block-title {
    font-size: 42px;
    font-weight: 700;
    line-height: 50px;
   }
   .block-hint {
    font-size: 25px;
    line-height: 46px;
}
.left-develop{
    display: grid;
    grid-template-columns: repeat( auto-fit, minmax(280px, 1fr) );
    grid-gap: 0rem;
    position: relative;
    margin-right: 2rem;
}
.right-develop{
    display: grid;
    grid-template-columns: repeat( auto-fit, minmax(280px, 1fr) );
    grid-gap: 0rem;
    position: relative;
    margin-right: 2rem;
}
.cta-left-text{
    font-size: 24px;
    font-weight: 700;
    line-height: 40px;
}

.item-box .block-description{
    max-width:460px;
    height: 370px;
    font-size: 20px;
    line-height: 30px;
    padding: 0 0.5rem;
}
.login-box{
   width: 300px;
}
}
   @media (max-width:376px){

    /* hero media query */
    .hero-wrapper .left-hero{
        padding: 70px 20px 0 20px;
        max-width: 520px;
    }
    .hero-title {
        font-size: 38px;
        font-weight: 700;
        line-height: 50px;
    }
   .left-hero .block-description{
       font-size: 14px;
       
   }
   .block-title {
    font-size: 40px;
    font-weight: 700;
    line-height: 50px;
   }
   .devlop-text .btn-3{
       font-size: 14px;
   }
}

@media (max-width:326px){

    /* hero media query */
    .hero-wrapper .left-hero{
        padding: 70px 20px 0 20px;
        max-width: 520px;
    }
    .hero-title {
        font-size: 33px;
        font-weight: 700;
        line-height: 45px;
    }
   .left-hero .block-description{
       font-size: 12px;
       
   }
   .block-title {
    font-size: 33px;
    font-weight: 700;
    line-height: 40px;
   }
}